.header_container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_container {
    height: 50px;
}

.logo_container img {
    height: 100%;
    width: auto;
}

.nav_container ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav_container a {
    color: #000;
    text-decoration: none;
}
