.capa_container {
    background-image: url('../../../public/capa.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.capa_container .capa_conteudo {
    width: 51%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.capa_conteudo div {
    max-width: 500px;
}

.capa_conteudo h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 5px;
}

.capa_conteudo p {
    color: #c4c4c4;
    font-size: 24px;
    line-height: 60px;
}

@media (max-width: 1024px) {
    .capa_container {
        background-position: right center;
    }

    .capa_conteudo div {
        margin-left: 15px;
        background-color: #000000ad;
    }
}

@media (max-width: 768px) {
    .capa_container {
        background-position: 92%;
    }

    .capa_conteudo div p {
        font-size: 18px;
        line-height: 14px;
    }

    .capa_conteudo div h1 {
        font-weight: 500;
        font-size: 46px;
        line-height: 65px;
        margin: 20px 0;
    }
}

@media (max-width: 425px) {
    .capa_container .capa_conteudo {
        width: 90%;
        margin: 0 auto;
    }

    .capa_conteudo div {
        margin-left: 0px;
    }
}